body{
font-family:Arial;
background:#f4f4f4;
margin:0;
}

.container{
max-width:420px;
margin:auto;
padding:20px;
}

button{
width:100%;
padding:15px;
border:none;
border-radius:12px;
background:black;
color:white;
font-size:18px;
margin-top:20px;
}

.show-option{
display:block;
background:white;
padding:12px;
margin-top:10px;
border-radius:10px;
}

.show-card{
background:white;
padding:15px;
margin-top:12px;
border-radius:14px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}
